
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 70%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 95%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #0000CD;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 95%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #0000CD;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.pic {
  height: 200px;
  width: auto;
}


p {
  font-size:17px;
  font-family:verdana;
  color:black;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10%;
    margin-left: 10%;
}

.mtitle {
  padding:2px;
  display:block;
  font-size: 24px;
  font-weight: bold;
  text-align:center;

}

.instruct {
  font-size: 20px;
}

/* Popup container */
.popup {
    position: relative;
    right: 30%;
    top: 180px;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptextleft {
    visibility: hidden;
    width: 250px;
    background-color: #00ffff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptextleft::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #00ffff;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .hide {
    visibility: hidden;
}

#popupScoreboard {
  position: relative;
  bottom: 180px;
  right: 40%;
}

#popupTeacher {
  position: relative;
  top: 120px;
  right: 40%;
}

#popupTeacher2 {
  display: none;
  position: relative;
  right: 40%;
}
#popupTeacher3 {
  display: none;
  position: relative;
  top: 185px;
  right: 40%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.pointer {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.pointer .leftPoint {
    visibility: hidden;
    width: 100px;
    height: 30px;
    background-color: red;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    left: 1000px;
    bottom: 250px;
    z-index: 1;
    margin-left: -80px;
}

/* Popup arrow */
.pointer .leftPoint::after {
    content: "";
    position: absolute;
    top: -50%;
    right: 100%;
    margin-left: 0px;
    border-width: 50px;
    border-style: solid;
    border-color: transparent red transparent transparent;
}

.pointer .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.8s;
    animation: fadeIn 0.8s;
}

.pointer .hide {
    visibility: hidden;
}

.pointer2 {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.pointer2 .downPoint {
    visibility: hidden;
    width: 20px;
    height: 40px;
    background-color: red;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    left: -200%;
    bottom: 50%;
    z-index: 1;
    margin-left: -80px;
}

/* Popup arrow */
.pointer2 .downPoint::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -100%;
    margin-left: 0px;
    border-width: 30px;
    border-style: solid;
    border-color: red transparent transparent transparent;
}

.pointer2 .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.8s;
    animation: fadeIn 0.8s;
}

.pointer2 .hide {
    visibility: hidden;
}

.pointer3 {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.pointer3 .rightPoint {
    visibility: hidden;
    width: 40px;
    height: 20px;
    background-color: red;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    left: 50%;
    top: 220%;
    z-index: 1;
    margin-left: -80px;
}

/* Popup arrow */
.pointer3 .rightPoint::after {
    content: "";
    position: absolute;
    top: -33%;
    left: 100%;
    margin-left: 0px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent transparent red;
}

.pointer3 .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.8s;
    animation: fadeIn 0.8s;
}

.pointer3 .hide {
    visibility: hidden;
}

body {
background-color:white;
}

.screen {
display:none;
}

.questions {
  font-size:25px;
  font-family:verdana;
  color:black;
}

.textleft{
  margin-left: 10%;
  float: left;
  font-size: 1.25em;
}

.textright{
  float: right;
  margin-right: 10%;
  font-size: 1.25em;
}

.picture1 {
  height: 120px;
  width: auto;
  float: left;
  margin-left: 10%
}

.picture2 {
  height: 120px;
  width: auto;
  margin-right: 10%;
  float: right;
}

.big-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.big-button {
  margin-left: 25%;
  margin-right: 25%;
  width:50%;
  padding: 7px 32px;
  border: 2px solid #4CAF50;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  font-family: "Helvetica", sans-serif;

}

.big-button:hover {
  background-color: #4CAF50;
  color: white;
}
.big-button:disabled {
  background-color: #555555;
  color: white;
}

#assignedRole {
  font-size: 36px;
  font-style: bold;
}

table {
  border-collapse: collapse;
  margin-right: 30px;
  margin-left: auto;
}

th, td {
    border: 3px solid black;
    width: 55px;
    height: 55px;
}

img {
  display: block;
  width: 95%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

#feedback {
  margin-left: 25%;
  margin-right: 25%;
  float: left;
}

.scoreboard {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
}

.scoreCol {
  width: 50%;
  float: left;
  font-size: 24px;
  text-align: center;
}

.wait {
  margin-left: 25%;
  margin-right: 25%;
  padding: 30px;
}

.column {
  float: left;
}

#trialDiv {
  width: 55%;
  margin-right:0;
}

#feedbackTurn {
  position: relative;
  width: 15%;
  top: -80px;
  text-align: left;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#completeDiv {
  width: 30%;
}

#completeBoard {
  float: left;
  bottom: 500px;
  transform: scale(0.4);
  border-spacing: 0px;
  margin-left: -140px;
  margin-right: auto;
}

#practiceLearn {
  margin: 0 auto;
}

#finalBoardCol {
  width: 50%;
  text-align: center;
}

#keyCol {
  width: 50%;
  text-align: center;
}

.finalCol {
  position: relative;
  top: -20px;
}

#thankyou {
  margin: 0 auto;
  font-size: 28px;
  font-style: bold;
}

#key {
  margin: 0 auto;
}

#finalBoard {
  margin: 0 auto;
}

.finalLabel {
  font-size: 30px;
  font-family: "Arial Black";
}

#askFeedback {
  margin-left: 20%;
  margin-right: 20%;
}



